body{
    background-color: rgb(209, 172, 7);
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
}

input{
    background-color: rgb(195, 22, 218);
    border-radius: 200px;
    font-size: 40px;
}
